* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.carousel-container {
  margin-top: 40px;
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  margin-top: 40px;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
