/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Chiller";
  font-size: 18px;
}

/* header {
    height: 150px;
    background-size: cover;
} */

@media only screen and (max-width: 600px) {
  body {
    width: 1200%;
  }
  .user-img .comment-author-img {
    width: 600px;
  }

  img {
    width: 600px;
  }
}

.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}

.page-link {
  cursor: pointer;
}

/* nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
} */

/*rajout d'animations inutiles*/
h1 {
  animation: bounce 2s infinite;
}

.logo-font {
  animation: spin 1s infinite;
}

button {
  animation: fadeIn 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .banner {
    animation: flashyEffect 1s infinite;
    background: url('banner-image.jpg') no-repeat center center;
    background-size: cover;
} */

@keyframes flashyEffect {
  0%,
  100% {
    background-color: yellow;
  }
  50% {
    background-color: red;
  }
}

.home-page {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
